table {border-collapse: collapse;}	

th {border: 1px solid black; 
	background-color: #D8D8D8; 
	font-weight: bold; 
	width: 80px;}

th.col {width: 50px;}

td {border: 1px solid black; 
	text-align: center;
	font-size: small; }

td.reihe {
	background-color: #D8D8D8; 
	font-weight: bold;
	font-size: medium;}

td.n { border-top: 3px solid red}
td.w { border-left: 3px solid red}
td.o { border-right: 3px solid red}
td.s { border-bottom: 3px solid red}

tr {height: 100px;}
tr.header {height: 60px;}

:target {
  animation-name: highlight;
  animation-duration: 0.1s;
  animation-iteration-count: 10;  
}
@keyframes highlight {
  0% { filter:opacity(0%); }
  100% { filter:opacity(100%); }
}
